 @keyframes slideRight {
            0% { transform: translateX(-100%); }
            100% { transform: translateX(100%); }
          }

          .animate-slideRight {
            animation: slideRight 12s linear infinite;
            width: 100%;
          }